# dependencies
node_modules

# build
dist
dist-ssr

# env
.env
.env.local
.env.*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# os
.DS_Store

# vite
*.timestamp-*.mjs
